<div class="row">
  <a class="a-links" [routerLink]="['/home']" routerLinkActive="active-link">Home</a>
  <a class="a-links" [routerLink]="['/characters']" routerLinkActive="active-link">Characters</a>
  <a class="a-links" [routerLink]="['/locations']" routerLinkActive="active-link">Locations</a>
  <a class="a-links" [routerLink]="['/favCharacters']" routerLinkActive="active-link">Fav Characters</a>
  <a class="a-links" [routerLink]="['/favLocations']" routerLinkActive="active-link">Fav Locations</a>
</div>