/*.divfather {
  display: flex;
  flex-flow: row wrap;
}
*/
.imgcharacter {
  border: 5px solid purple;
  max-width: 100%;
  cursor: pointer;
}

.namecharacter {
  margin: 7px 0;
}
.characters-title {
  font-size: 60px;
}

.namefav-row {
  display: flex;
  flex-direction: row;
}

.favchar-btn {
  background-color: rgb(255, 212, 255);
  border: 2px solid purple;
  margin: 0 0 15px 0;
  padding: 3px 10px;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.favchar-btn:hover {
  background-color: purple;
  color: white;
}